<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=440px, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../javascript/login.js"></script>
</head>

<body class="wraper">
    <sidebar class="aside">
        <nav>
            <h3 class="aside-menu">
                Menu
            </h3>
            <ul class="list-item">
                <li>
                    <a href="../views/index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="../views/sing-up.html">
                        SingUp
                    </a>
                </li>
                <li>
                    <a href="../views/login.html">
                        Login
                    </a>
                </li>
            </ul>
            <h3 class="aside-get">
                Get in touch
            </h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <ul>
                <li>
                    <img href="#" src="../assets/email-logo.png">
                    <a href="#">informacion@gmail.com</a>
                </li>
                <li>
                    <img href="#" src="../assets/phone-logo.jpg" class="tel">
                    <a href="#">
                        (0341)123-4567
                    </a>
                </li>
                <li>
                    <img href="#" src="../assets/location-logo.png">
                    <a>
                        Mendoza 1234, Rosario, Argentina
                    </a>
                </li>
            </ul>
        </nav>
    </sidebar>
    <header class="header-wraper">
        <div class="header-title">
            <img src="../assets/icomenu.png" class="menu-bar">
            <h1>
                Trackgenix
            </h1>
        </div>
        <div class="icon">
            <a href="">
                <img src="../assets\linkedin.png">
            </a>
            <a href="">
                <img src="../assets\twitter.png">
            </a>
            <a href="">
                <img src="../assets\facebook.png">
            </a>
            <a href="">
                <img src="../assets\instagram.png">
            </a>
        </div>
    </header>
    <landing class="main">
    </landing>
    <login class="login">
        <div class="head-log">
            Radium Rocket
            <br>
            RRHH
            </br>
        </div>
        <form class="form-container" action="">
            <div class="singin">
                <h2>
                    Sing In
                </h2>
            </div>
            <ul class="ul-form">
                <li class="li-block">
                    <input type="text" placeholder="johndoe@mail.com" />
                    <div class="error">
                        Invalid value. Missing email format
                    </div>
                </li>
                <li class="li-block">
                    <input type="password" placeholder="●●●●●●●●" />
                    <div class="error">
                        Invalid value. At least 8 characters. Must have letters and
                        numbers
                    </div>
                </li>
                <li class="remember">
                    <label class="checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="check">Remember me</span>
                    </label>

                </li>
            </ul>
            <button type="button" class="form-btn">
                Continue
            </button>
            <button type="button" class="form-btn">
                <a href="../views/sing-up.html">
                    New User
                </a>
            </button>
            <p class="forgot">
                Forgot your Password?
                <br>
                Reset it
                </br>
            </p>
        </form>
    </login>
    <footer class="footer">
        <div>
            <a href="">
                <img src="../assets\linkedin.png">
            </a>
            <a href="">
                <img src="../assets\twitter.png">
            </a>
            <a href="">
                <img src="../assets\facebook.png">
            </a>
            <a href="">
                <img src="../assets\instagram.png">
            </a>
        </div>
        Rosario, Argentina
        <p>
            Copyright &copy; 2022 Trackgenix SA. Al rights reserved
        </p>
    </footer>
</body>

</html>