form {
    width: 1000px;
}

input[type=text] {
    display: inline-block;
    width: 47%;
    padding: 4px 20px;
    margin: 2px 27px 25px 0px;
    box-sizing: border-box;
    color: grey;
}

select {
    width: 47%;
    padding: 4px 20px;
    margin: 2px 27px 25px 0px;
    box-sizing: border-box;
}

textarea {
    width: 97%;
    margin-bottom: 5px;
    color: grey;
}

input[type=submit] {
    width: 125px;
    height: 37px;
    left: 0px;
    top: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #AACE9B;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: rgb(55, 56, 103);
}

input[type=reset] {
    width: 125px;
    height: 37px;
    left: 0px;
    top: 16px;
    margin: 20;
    background-color: #AACE9B;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: rgb(55, 56, 103);
}

.aside {
    position: absolute;
    width: 308px;
    font-family: 'Roboto', sans-serif;
}

.aside h3 {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(55, 56, 103);
}

.aside li {
    padding-bottom: 20px;
}

.aside p {
    padding: 20px;
    padding-left: 10px;
    width: 280px;
    font-size: 15px;
    color: rgb(55, 56, 103);
}

.aside img {
    vertical-align: middle;
    margin: 5px;
}

.menubar hr {
    position: relative;
    height: 5px;
    width: 80px;
    left: -95px;
    background-color: rgb(170, 206, 155);
    border: 0px;
}

.list-item li {
    display: inline-block;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid gray;
}

.list-item a {
    color: gray;
    text-decoration: none;
}

.getbar hr {
    position: relative;
    height: 5px;
    width: 180px;
    left: -45px;
    background-color: rgb(170, 206, 155);
    border: 0px;
}

.tel {
    width: 40px;
}

.main {
    display: inline-block;
    margin-left: 308px;
    width: calc(100% - 308px);
    font-family: 'Roboto', sans-serif;
}

.main h1 {
    color: rgb(55, 56, 103);
    font-size: 40px;
    font-weight: bold;
}

.main h2 {
    width: 500px;
    color: rgb(55, 56, 103);
    font-weight: bold;
    font-size: 45px;
}

.main h4 {
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(55, 56, 103);
}

.main p {
    color: rgb(55, 56, 103);
    font-size: 15px;
}

.main header {
    position: relative;
    margin-left: 40px;
    font-weight: bold;
}

.main-header {
    position: relative;
    height: 80px;
    margin-top: 34px;
}

.menu-bar {
    position: absolute;
    top: -15px;
}
.main-header img{
    width: 30px;
}

.icon {
    position: relative;
    bottom: 52px;
    text-align: right;
}

.icon img {
    padding: 8px;
    width: 30px;
    text-align: right;
}

.icon hr {
    height: 5px;
    background-color: rgb(170, 206, 155);
    border: 0px;
}

.main-section {
    position: relative;
}

.main-section p {
    width: 360px;
    color: rgb(55, 56, 103);
}

.img1 {
    position: absolute;
    display: inline-block;
    width: 350px;
    left: 500px;
    top: 0;
}

.learn-more {
    padding: 7px 18px;
    margin-top: 16px;
    border: 3px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    color: #AACE9B;
    font-weight: bold;
}

.features {
    color: rgb(55, 56, 103);
}

.features img {
    float: left;
    margin: 30px;
}

.features p {
    width: 500px;
}

.features li {
    display: inline-block;
    width: 500px;
}

.features h4 {
    display: inline-block;
    font-weight: bold;
}

.features h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-container {
    float: left;
    overflow: hidden;
    margin: 30px;
    width: 94.19px;
    height: 94.19px;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
}

.image-container img {
    position: relative;
    top: -30px;
    left: -30px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.election {
    display: inline-block;
    margin-bottom: 20px;
    color: rgb(55, 56, 103);
}

.election img {
    width: 100%;
}

.election h5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.election li {
    display: inline-block;
    width: 200px;
    padding-right: 30px;
    padding-left: 30px;
    border-right: solid;
}

.election h4 {
    font-weight: bold;
}

.teamimg {
    position: relative;
    top: 16px;
}

.history ul {
    display: inline-block;
    width: 1000px;
}

.history h6 {
    margin: 20px;
}

.history p {
    margin: 0 0 40 0;
    width: 1050px;
}

.crucial1 {
    float: left;
    width: 200px;
    padding-right: 20px;
    text-align: center;
}

.crucial2 {
    float: right;
    position: relative;
    bottom: 15px;
    left: 20px;
    width: 150px;
    padding-left: 20px;
    text-align: center;
}

.products ol {
    display: inline-block;
    margin: 3px 240px 95px 0px;
    list-style-type: decimal;
}

.products li {
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(55, 56, 103);
}

.footer {
    margin-top: -50px;
    margin-right: 10px;
    margin-left: auto;
    width: 1110px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer img {
    padding: 20px;
    width: 30px;
}

.footer p {
    padding: 20px;
}