.aside {
    display: none;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}

.aside-menu{
    width: 82px;
}

.aside-get{
width: 180px;
}

.aside h3 {
    padding: 7px;
    margin-right: 80px;
    font-weight: bold;
    font-size: 30px;
    color: rgb(55, 56, 103);
    border-bottom: 5px solid rgb(170, 206, 155);
}

.aside li {
    padding-bottom: 20px;
}

.aside p {
    display: block;
    padding: 20px;
    padding-left: 10px;
    width: 90%;
    font-size: 15px;
    color: rgb(55, 56, 103);
}

.aside img {
    vertical-align: middle;
    margin: 5px;
}

.list-item li {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid gray;
}

.list-item a {
    color: gray;
    text-decoration: none;
}

.tel {
    width: 40px;
}